:root {

    --black: #000;
    --white: #fff;

    --black-400: #373737;
    --black-350: #48494D;

    --blue-250: #7CBCEC40;
    --blue-300: #D9E3EF;
    --blue-400: #7CBCEC;

    --gray-300: #F2F2F2;
    --gray-350: #E0E0E0;
    --gray-400: #C4C4C4;
    --gray-410: #CECBC8;
    --gray-420: #D6D6D6;
    --gray-500: #757575;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    object-fit: contain;
    max-width: 100%;
    height: auto;
    border: 0;
    outline: 0;
    font-size: 0;
}

.display-none {
    display: none;
}

.visually-hidden {
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
    overflow: hidden;
    white-space: nowrap;
}

.reset-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.reset-list dd,
.reset-list dt {
    margin: 0;
    padding: 0;
}

.page {
    height: 100%;
    hyphens: auto;
}

.page-body {
    position: relative;
    min-height: 100%;
    width: 100%;
    min-width: 1200px;

    display: grid;
    grid-template-rows:
        min-content 1fr min-content;

    font-family: 'Open Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.38;

    color: var(--black-400);
    background-color: var(--white);
    z-index: 10;

}

.page-body::after {
    content: '';
    position: absolute;
    left: 48%;
    top: 0;
    width: 52%;
    height: 1029px;
    background-color: var(--blue-300);
    z-index: -1;
}


.container {

    max-width: 1170px;
    min-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;

}

.btn {
    display: inline-block;
    padding: 22px 55px;
    margin: 0;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: 0.12em;

    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border: 1px solid var(--black-400);
    color: var(--black-400);

    cursor: pointer;
    transition: all 0.5s;
}

.btn:hover,
.btn:focus {

    background-color: var(--blue-300);
}

.btn:active {
    transform: scale(0.8);
}

.btn--dark {

    border: none;
    color: var(--white);
    background-color: var(--black-400);

}

.btn--dark:hover,
.btn--dark:focus {
    opacity: 0.7;
    background-color: var(--black-400);
}

.btn--dark:active {
    opacity: 1;
    transform: scale(0.8);
}

.section-title {

    color: var(--black-350);

    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.35;

}


.align-center {
    text-align: center;
}

/*---------------------------main-nav----------------------------------------*/

.main-nav {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.main-logo__link-wrap {
    margin-right: 64px;
}

.nav-list {
    max-width: 825px;
    margin-right: -30px;
    margin-left: -30px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

}

.nav-list__item {
    margin-left: 30px;
    margin-right: 30px;
}

.nav-list__link {
    position: relative;

    font-family: 'Open Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: 0.07em;
    text-decoration: none;
    text-transform: uppercase;

    color: var(--black);
}

.nav-list__link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 1px;
    background-color: var(--black);

    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s, transform 0.3s;

}


.nav-list__link:hover::after,
.nav-list__link:focus::after {

    opacity: 1;
    transform: translateY(0px);
}

.nav-list__link:active,
.nav-list__link:active:after {
    opacity: 0.6;
}


.user-panel-list {
    max-width: 100px;
    margin-left: auto;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.user-panel-list__item {
    margin-left: 8px;
    margin-right: 8px;
}

.user-panel-list__item:first-child {

    margin-left: 0;
}

.user-panel-list__item:last-child {

    margin-right: 0;
}

.user-panel-list___link {
    display: block;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: center center;
    text-decoration: none;
    transition: transform 0.3s;

}

.user-panel-list___link:hover,
.user-panel-list___link:focus {
    transform: scale(1.2);

}

.user-panel-list___link:active {
    transform: scale(0.7);

    opacity: 0.6;
}

.user-panel-list___link--favorites {
    background-image: url('../../images/heart-icon.svg');
    background-size: 22px 19px;
}

.user-panel-list___link--login {
    background-image: url('../../images/user-icon.svg');
    background-size: 20px 20px;
}

.user-panel-list___link--basket {
    background-image: url('../../images/basket-icon.svg');
    background-size: 16px 20px;
}

/*----------------------------------------lead block----------------------------------------------------*/
.index-lead {
    position: relative;
    padding-top: 200px;
    margin-bottom: 97px;
}

.index-lead__inner {
    position: relative;
}

.index-lead__inner::after {
    content: '';
    position: absolute;
    left: 0;
    top: 440px;
    width: 19px;
    height: 120px;
    background-image: url('../../images/lead-arrow-down.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 19px 120px;
}

.index-lead__title {
    margin-top: 0;
    margin-bottom: 60px;
    max-width: 530px;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.333;
}

/*--------------------------------winter collection------------------------------------*/

.winter-collection {
    position: relative;
    margin-bottom: 133px;

    min-height: 501px;
    display: flex;
    padding-top: 93px;

    background-image: url('../../images/winter-look.png');
    background-repeat: no-repeat;
    background-size: 664px 501px;
    background-position: 0 0;
}

.winter-collection::before {
    content: 'зима';
    position: absolute;
    top: -396px;
    left: -218px;
    color: var(--gray-300);

    font-family: 'Open Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 288px;
    line-height: 1.36;
    text-transform: uppercase;

    z-index: -2;

}

.winter-collection__inner {
    margin-left: auto;

}

.winter-collection__title {
    margin: 0;
    margin-bottom: 20px;
}

.winter-collection__desc {
    margin: 0;
    margin-bottom: 50px;

}

/*-------------------------every-day--------------------------------*/
.every-day {
    display: grid;
    grid-template-columns: 767px 403px;
    grid-template-rows: min-content 1fr;
    grid-template-areas: 'text big-photo'
        'slider big-photo';

    margin-bottom: 191px;
}

.every-day__inner {
    grid-area: text;
    align-self: self-start;

    position: relative;
    width: 533px;
    max-width: 533px;
    min-width: 533px;

    margin-left: auto;
    padding-top: 65px;
    padding-left: 79px;
    padding-right: 123px;
    padding-bottom: 66px;

}

.every-day__inner::before {
    content: '';
    position: absolute;
    left: 0;
    top: -161px;
    height: 513px;
    width: 1px;
    background-color: var(--black);

}

.every-day__inner::after {
    content: "D";
    position: absolute;
    left: -270px;
    top: 205px;

    font-family: 'Open Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 288px;
    line-height: 1.36;
    color: var(--gray-300);

}

.every-day__title {
    margin: 0;
    margin-bottom: 30px;
}

.every-day__desc {
    margin: 0;
    font-size: 20px;
    line-height: 1.35;

}

.every-day__big-photo-wrapper {
    grid-area: big-photo;
    overflow: hidden;
    width: 403px;
    height: 632px;

}

.every-day__big-photo-list {
    position: relative;
    left: 0;
    width: 1612px;
    height: 632px;
    display: flex;
}



.every-day__slider-thumb-wrapper {
    grid-area: slider;
    position: relative;
    z-index: 1;
    width: 368px;
    max-width: 368px;
    margin-right: -23px;
    margin-left: auto;

}

.every-day__slider-thumb-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 27px;
}

.every-day__slider-thumb-item {
    max-width: 116px;
    max-height: 155px;


    margin-right: 10px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: transform 0.5s;
    animation-fill-mode: backwards;

}

.every-day__slider-thumb-item:hover,
.every-day__slider-thumb-item:focus {

    transform: scale(1.2);
}

.every-day__slider-thumb-item:active {

    transform: scale(1);
}

.every-day__slider-thumb-item:last-child {
    margin-right: 0;
}



.every-day__slider-indication {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.every-day__slider-indication-item {
    margin-right: 11px;
    border: none;
    width: 7px;
    height: 7px;
    background-color: var(--gray-400);
    border-radius: 50%;
}

.every-day__slider-indication-item--active {
    background-color: var(--black-400);
}

.every-day__slider-control-btn:last-child {
    margin-right: 0;
}

/*-----------------------strict------------------------------*/

.strict {
    display: flex;
    min-height: 545px;
    margin-bottom: 147px;

    background-image: url('../../images/strict-collection.png');
    background-repeat: no-repeat;
    background-size: 591px 545px;
    background-position: left center;
}

.strict__inner {
    position: relative;
    width: 577px;
    max-width: 577px;
    margin-left: auto;
    padding-left: 125px;
    padding-right: 64px;
    padding-top: 93px;
}

.strict__inner::after {
    content: '';
    position: absolute;
    left: -454px;
    top: -49px;
    width: 1px;
    height: 276px;
    background-color: var(--black);
}

.section-title {
    margin: 0;
    margin-bottom: 30px;
}

.strict__desc {
    margin: 0;
    margin-bottom: 50px;

    font-size: 20px;
    line-height: 1.35;
}

/*-------------popular----------------------------------------------------------------------*/

.popular {
    position: relative;
    margin-bottom: 193px;
}

.popular__title {
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
}

.slider-window {

    max-width: 1140px;
    margin-bottom: 40px;
    overflow: hidden;
}

.popular-slider-list {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    transition: all 0.5s;

}

.popular-slider-list__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin-right: 30px;

    text-align: center;
    cursor: pointer;
}



.product-cart {
    min-width: 264px;
    padding-left: 22px;
    padding-right: 22px;
    transition: all 0.5s;
}

.product-cart:hover,
.product-cart:focus {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
}



.product-cart__title {
    margin: 0;
    margin-bottom: 10px;

    font-weight: 600;
    font-size: 20px;
    line-height: 1.35;
    color: var(--black);
}

.product-cart__img {
    width: 220px;
    height: 200px;
    margin-bottom: 11px;

    order: -1;
}

.product-cart__price {
    margin: 0;
    margin-bottom: 25px;

    font-size: 20px;
    line-height: 1.35;
    color: var(--gray-400);
}

.product-cart__btn {
    opacity: 0;
    margin: 0;
    margin-bottom: 35px;
}

.product-cart:hover .product-cart__btn,
.product-cart:focus .product-cart__btn {
    opacity: 1;
}

.product-cart:focus-within .product-cart__btn {
    opacity: 1;
}

.product-cart {}

.popular-slider-controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    left: 0;
    top: 228px;

}

.popular-slider-controls__btn {

    width: 15px;
    height: 25px;
    border: none;

    background-image: url('../../images/arrow.svg');
    background-size: 13.5px 22.5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s;
}

.popular-slider-controls__btn:hover,
.popular-slider-controls__btn:focus {

    transform: scale(1.2);
}

.popular-slider-controls__btn:active {
    transform: scale(0.8);
}

.popular-slider-controls__btn--left {
    transform: rotate(180deg);
}

.popular__view-more {
    display: block;
    max-width: 250px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
}