:root {

    --black: #000;
    --white: #fff;

    --black-500: #2A2A2A;
    --black-400: #373737;
    --black-350: #48494D;

    --blue-250: #7CBCEC40;
    --blue-300: #D9E3EF;
    --blue-400: #7CBCEC;

    --gray-300: #F2F2F2;
    --gray-350: #E0E0E0;
    --gray-400: #C4C4C4;
    --gray-410: #CECBC8;
    --gray-430: #cdcdcd;
    --gray-420: #D6D6D6;
    --gray-500: #757575;
    --gray-440: #B3B3B3;
    --gray-510: #a8a8a8;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    object-fit: contain;
    max-width: 100%;
    height: auto;
    border: 0;
    outline: 0;
    font-size: 0;
}

.display-none {
    display: none;
}

.visually-hidden {
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
    overflow: hidden;
    white-space: nowrap;
}

.reset-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.reset-list dd,
.reset-list dt {
    margin: 0;
    padding: 0;
}

.page {
    height: 100%;
    hyphens: auto;
}

.page-body {
    position: relative;
    min-height: 100%;
    width: 100%;
    min-width: 1200px;

    display: grid;
    grid-template-rows:
        min-content 1fr min-content;

    font-family: 'Open Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.38;

    color: var(--black-400);
    background-color: var(--white);
    z-index: 10;

}

.page-body--index::after {
    content: '';
    position: absolute;
    left: 47.75%;
    top: 0;
    width: 52.25%;
    height: 100%;
    background-color: var(--blue-300);
    z-index: -1;
    max-height: 1029px;
}

.page-body__product-page::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 52%;
    height: 100%;
    background-color: var(--blue-300);
    z-index: -1;
    max-height: 1010px;
}

.container {

    max-width: 1200px;
    min-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

}

.btn {
    display: inline-block;
    padding: 22px 55px;
    margin: 0;
    max-width: 215px;
    width: 212px;
    overflow-wrap: break-word;

    font-family: 'Open Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: 0.12em;

    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border: 1px solid var(--black-400);
    color: var(--black-400);

    cursor: pointer;
    transition: all 0.5s;
}

.btn:hover,
.btn:focus {

    background-color: var(--blue-300);
}

.btn:active {
    transform: scale(0.8);
}

.btn--dark {

    border: none;
    color: var(--white);
    background-color: var(--black-400);

}

.btn--dark:hover,
.btn--dark:focus {
    opacity: 0.7;
    background-color: var(--black-400);
}

.btn--dark:active {
    opacity: 1;
    transform: scale(0.8);
}

.section-title {

    color: var(--black-350);

    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.35;

}


.page-body__catalog-page .main-header {

    margin-bottom: 95px;
}

.page-body__product-page .main-header {

    margin-bottom: 133px;
}

/*---------------------------main-nav----------------------------------------*/

.main-nav {
    padding-top: 50px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.main-logo__link-wrap {
    margin-right: 64px;
    margin-left: 4px;
}

.nav-list {
    max-width: 825px;
    margin-right: -32px;
    margin-left: -32px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

}

.nav-list__item {
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 10px;
}

.nav-list__link {
    position: relative;

    font-family: 'Open Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: 0.07em;
    text-decoration: none;
    text-transform: uppercase;

    color: var(--black);
}

.nav-list__link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 1px;
    background-color: var(--black);

    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s, transform 0.3s;

}


.nav-list__link:hover::after,
.nav-list__link:focus::after {

    opacity: 1;
    transform: translateY(0px);
}

.nav-list__link:active,
.nav-list__link:active:after {
    opacity: 0.6;
}

.user-panel-list {
    /* max-width: 110px; */
    width: 112px;
    margin-left: auto;
    padding-left: 9px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.user-panel-list__item {
    margin-right: 16px;
}

.user-panel-list__item:last-child {
    margin-right: 0;
}

.user-panel-list___link {
    display: block;
    width: 25px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    text-decoration: none;
    transition: transform 0.3s;

}

.user-panel-list___link:hover,
.user-panel-list___link:focus {
    transform: scale(1.2);

}

.user-panel-list___link:active {
    transform: scale(0.7);

    opacity: 0.6;
}

.user-panel-list___link--favorites {
    background-image: url('../../images/heart-icon.svg');
    background-size: 25px 22px;
}

.user-panel-list___link--login {
    background-image: url('../../images/user-icon.svg');
    background-size: 22px 22px;
}

.user-panel-list___link--basket {
    width: 20px;
    background-image: url('../../images/basket-icon.svg');
    background-size: 20px 24px;
}

/*----------------------------------------lead block----------------------------------------------------*/
.index-lead {
    position: relative;
    padding-top: 246px;
    margin-bottom: 121px;
}

.index-lead__inner {
    position: relative;
}

.index-lead__inner::after {
    content: '';
    position: absolute;
    left: 15px;
    top: 445px;
    width: 19px;
    height: 120px;
    background-image: url('../../images/lead-arrow-down.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 19px 120px;
}

.index-lead__title {
    margin-top: 0;
    margin-bottom: 61px;
    max-width: 530px;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.35;
}

/*--------------------------------winter collection------------------------------------*/

.winter-collection {
    position: relative;
    margin-bottom: 133px;

    min-height: 501px;
    display: flex;
    padding-top: 93px;

    background-image: url('../../images/winter-look.png');
    background-repeat: no-repeat;
    background-size: 664px 501px;
    background-position: 15px 0;
}

.winter-collection::before {
    content: 'зима';
    position: absolute;
    top: -159px;
    left: -215px;
    color: var(--gray-300);

    font-family: 'Open Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 288px;
    line-height: 1.36;
    text-transform: uppercase;

    z-index: -2;

}

.winter-collection__inner {
    margin-left: auto;
    width: 404px;
}

.winter-collection__inner .winter-collection__title {
    margin: 0;
    margin-bottom: 20px;
}

.winter-collection__desc {
    margin: 0;
    margin-bottom: 50px;

    font-size: 20px;
    line-height: 1.35;

}

/*-------------------------every-day--------------------------------*/
.every-day {
    display: grid;
    grid-template-columns: 767px 403px;
    grid-template-rows: min-content 1fr;
    grid-template-areas: 'text big-photo'
        'slider big-photo';

    margin-bottom: 191px;
}

.every-day__inner {
    grid-area: text;
    align-self: self-start;

    position: relative;
    width: 533px;
    max-width: 533px;
    min-width: 533px;
    overflow-wrap: break-word;

    margin-left: auto;
    padding-top: 71px;
    padding-left: 79px;
    padding-right: 123px;
    padding-bottom: 66px;

}

.every-day__inner::before {
    content: '';
    position: absolute;
    left: -1px;
    top: -161px;
    height: 513px;
    width: 2px;
    background-color: var(--black);

}

.every-day__inner::after {
    content: "D";
    position: absolute;
    left: -269px;
    top: 243px;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 288px;
    line-height: 1.36;
    color: var(--gray-300);

}

.every-day__inner .every-day__title {
    margin: 0;
    margin-bottom: 27px;
}

.every-day__desc {
    margin: 0;
    font-size: 20px;
    line-height: 1.67;

}

.every-day__big-photo-wrapper {
    grid-area: big-photo;
    overflow: hidden;
    width: 403px;
    height: 632px;

}

.every-day__big-photo-list {
    position: relative;
    left: 0;
    width: 1612px;
    height: 632px;
    display: flex;
    transition: all 0.5s;
}

.every-day__big-photo-list--first {
    left: 0;
}

.every-day__big-photo-list--second {
    left: -403px;
}

.every-day__big-photo-list--thirt {
    left: -806px;
}

.every-day__big-photo-list--four {
    left: -1209px;
}


.every-day__slider-thumb-wrapper {
    grid-area: slider;
    position: relative;
    z-index: 1;
    width: 368px;
    max-width: 368px;
    margin-right: -23px;
    margin-left: auto;

}

.every-day__slider-thumb-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 27px;
}

.every-day__slider-thumb-item {
    max-width: 116px;
    max-height: 155px;
    width: 116px;
    height: 155px;
    padding: 0;

    margin-right: 10px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: transform 0.5s;
    animation-fill-mode: backwards;

}


.every-day__slider-thumb-item:hover,
.every-day__slider-thumb-item:focus {

    transform: scale(1.2);
}

.every-day__slider-thumb-item:active {

    transform: scale(1);
}

.every-day__slider-thumb-item:last-child {
    margin-right: 0;
}



.every-day__slider-indication {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.every-day__slider-indication-item {
    margin-right: 10px;
    border: none;
    width: 7px;
    height: 7px;
    background-color: var(--gray-400);
    border-radius: 50%;
}

.every-day__slider-indication-item--active {
    background-color: var(--black-400);
}

.every-day__slider-control-btn:last-child {
    margin-right: 0;
}

/*-----------------------strict------------------------------*/

.strict {
    display: flex;
    min-height: 545px;
    margin-bottom: 147px;

    background-image: url('../../images/strict-collection.png');
    background-repeat: no-repeat;
    background-size: 591px 545px;
    background-position: 17px center;
}

.strict__inner {
    position: relative;
    width: 577px;
    max-width: 577px;
    margin-left: auto;
    padding-left: 125px;
    padding-right: 64px;
    padding-top: 94px;
}

.strict__inner::after {
    content: '';
    position: absolute;
    left: -482px;
    top: -49px;
    width: 2px;
    height: 276px;
    background-color: var(--black);
}

.section-title {
    margin: 0;
    margin-bottom: 30px;
}

.strict__desc {
    margin: 0;
    margin-bottom: 50px;

    font-size: 20px;
    line-height: 1.6;
}

/*-------------popular----------------------------------------------------------------------*/

.popular {
    position: relative;
    margin-bottom: 193px;
}

.page-body__product-page .popular {
    margin-bottom: 158px;
}

.popular--product-page {
    margin-bottom: 160px;
}

.popular__title {
    text-align: center;
    margin: 0;
    margin-bottom: 27px;
}

.slider-window {

    max-width: 1170px;
    margin-bottom: 26px;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;

}

.popular-slider-list {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    padding-left: 15px;
    transition: all 0.5s;
}

.popular-slider-list--first-slide {
    left: 0;
}

.popular-slider-list--second-slide {

    left: -1170px;
}


.popular-slider-list__item {
    min-width: 264px;
    max-width: 264px;
    width: 264px;
    padding-left: 22px;
    padding-right: 22px;
    margin-right: 28px;
}

.product-cart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
}

.product-cart:hover,
.product-cart:focus {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
}

.product-cart__title {
    margin: 0;
    margin-bottom: 10px;

    font-weight: 600;
    font-size: 20px;
    line-height: 1.35;
    color: var(--black);
}

.product-cart__img {
    width: 220px;
    height: 200px;
    margin-bottom: 11px;

    order: -1;
}

.product-cart__price {
    margin: 0;
    margin-bottom: 28px;

    font-size: 20px;
    line-height: 1.35;
    color: var(--gray-400);
}

.product-cart .product-cart__btn {
    display: block;
    margin: 0;
    margin-bottom: 35px;
    padding: 15px 10px;
    width: 177px;
    max-width: 177px;

    text-align: center;

    opacity: 0;
}

.product-cart:hover .product-cart__btn,
.product-cart:focus .product-cart__btn {
    opacity: 1;
}

.product-cart:focus-within .product-cart__btn {
    opacity: 1;
}

.popular-slider-controls {
    display: flex;
    justify-content: space-between;
    width: 103%;
    position: absolute;
    left: -18px;
    top: 217px;

}

.popular-slider-controls__btn {

    width: 15px;
    height: 25px;
    border: none;

    background-image: url('../../images/arrow.svg');
    background-size: 13.5px 22.5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s;
}

.popular-slider-controls__btn--right:hover,
.popular-slider-controls__btn--right:focus {

    transform: scale(1.2);
}

.popular-slider-controls__btn:active {
    transform: scale(0.8);
}

.popular-slider-controls__btn--left {
    transform: rotate(180deg);
}

.popular-slider-controls__btn--left:hover,
.popular-slider-controls__btn--left:focus {

    transform: rotate(180deg) scale(1.2);

}

.popular .popular__view-more {
    display: block;
    max-width: 250px;
    width: 250px;
    margin: 0 auto;
    padding: 21px 50px;
}

/*------------------------------footer------------------------------------------*/
.main-footer {
    padding-top: 50px;

    min-height: 139px;
    background-color: var(--blue-300);
}

.main-footer__inner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.main-logo__link-wrap--footer {
    margin-right: 317px;
    margin-left: 0;
}

.nav-list-footer {
    max-width: 670px;
    margin-left: -25px;
    margin-right: -25px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.nav-list-footer__item {
    margin-left: 24px;
    margin-right: 24px;

}

.nav-list-footer__link {
    position: relative;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 0.07em;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--black);
}

.nav-list-footer__link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 1px;
    background-color: var(--black);

    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s, transform 0.3s;

}

.nav-list-footer__link:hover::after,
.nav-list-footer__link:focus::after {

    opacity: 1;
    transform: translateY(0px);
}

.nav-list-footer__link:active,
.nav-list-footer__link:active:after {
    opacity: 0.6;
}

.soc-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 91px;
    margin-right: -10px;
}

.soc-list__item {
    margin-right: 10px;
}


.soc-list__img {
    width: 18px;
    height: 18px;
}

.soc-list__link:hover .soc-list__img,
.soc-list__link:focus .soc-list__img {

    transform: scale(1.2);

}

.soc-list__link:active .soc-list__img {

    transform: scale(0.8);

}

/*------------------blank------------------------*/

.smile {
    font-size: 68px;
}

/*-------------------------------catalog---------------------------*/

.catalog-main {
    display: grid;
    grid-template-columns: 196px 898px;
    column-gap: 75px;
}

.catalog-filters {
    grid-column: 1/2;
    word-wrap: break-word;
    max-width: 196px;
}

.catalog-wrapper {
    grid-column: 2/3;


}

.catalog-list {

    display: grid;
    grid-template-columns: 286px 286px 286px;
    column-gap: 20px;
    row-gap: 71px;
    margin-bottom: 61px;
}

/*--------------------------product-cart--catalog---------------------------------*/

.product-cart-catalog {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.product-cart-catalog__title {
    margin: 0;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.37;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    font-weight: 400;

}

.product-cart-catalog__title-link {
    position: relative;
    text-decoration: none;
    color: var(--gray-500);
    padding-left: 1px;
}


.product-cart-catalog__title-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 1px;
    background-color: var(--black);

    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s, transform 0.3s;

}


.product-cart-catalog__title-link:hover::after,
.product-cart-catalog__title-link:focus::after {

    opacity: 1;
    transform: translateY(0px);
}

.product-cart-catalog__title-link:active,
.product-cart-catalog__title-link:active:after {
    opacity: 0.6;
}



.product-cart-catalog__img-wrapper {
    position: relative;
    order: -1;
    width: 286px;
    height: 364px;
    margin-bottom: 31px;
    background-color: var(--gray-350);
}

.product-cart-catalog__img-wrapper::before {
    content: 'фото скоро будет';
    position: absolute;
    left: 40px;
    top: 50%;

    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--white);
    z-index: 1;
}

.product-cart-catalog__img {
    position: relative;
    width: 286px;
    height: 364px;
    z-index: 2;
}

.product-cart-catalog__price {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.35;
    padding-left: 1px;
    color: var(--black-350);
}

/*-----------------filters----------*/
.filters-form {
    max-width: 196px;
    word-wrap: break-word;
}

.filters-form__filedset {
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
    max-width: 196px;
    word-wrap: break-word;
    display: block;
}

.filters-form__filedset--category {
    margin-bottom: 46px;
}

.filters-form__title {
    display: block;
    max-width: 196px;
    word-wrap: break-word;


    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    padding-left: 9px;
    color: var(--black-350);
    letter-spacing: 0.07em;

    text-transform: uppercase;
}

.filters-form__category-item {
    margin: 0;
    margin-bottom: 1px;
    max-width: 196px;
    word-wrap: break-word;
}



.filters-form__category-label {
    display: block;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 11px;
    padding-bottom: 9px;
    color: var(--gray-500);
    cursor: pointer;
}

.filters-form__category-label:hover,
.filters-form__category-label:focus {
    background-color: var(--blue-300);
}

.filters-form__category-label:active {
    background-color: var(--blue-400);
}

.filters-form__category-input:checked + .filters-form__category-label {
    background-color: var(--blue-300);
}

.filters-form__category-input:disabled + .filters-form__category-label {
    opacity: 0.3;
}

/*------------filter--range------------------*/

.filters-form__title--range {
    margin-bottom: 18px;
}

.filters-form__range-fiter {
    max-width: 196px;
    padding-left: 9px;
    margin-bottom: 22px;
}

.filters-form__range-line {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: var(--gray-430);
}

.filters-form__range-pin-min,
.filters-form__range-pin-max {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;

    background-color: var(--black-500);
    cursor: pointer;

}

.filters-form__range-fiter-controls {
    max-width: 196px;
    display: flex;
    justify-content: space-between;
}

.filters-form__range-label {
    margin-left: 9px;
    font-size: 12px;
    line-height: 1.333;
    color: var(--black);
    text-transform: lowercase;

}


.filters-form__range-field {
    max-width: 44px;
    margin-left: 8px;
    border: none;
    border-bottom: 1px solid var(--gray-430);

    font-size: 12px;
    line-height: 1.333;
    color: var(--black);
    text-align: center;

}

.filters-form__range-field::placeholder {
    font-size: 12px;
    line-height: 1.333;
    color: var(--black);
}

/*----------------filters--brand-------------*/

.filters-form__filedset--brand {
    margin-bottom: 22px;
}

.filters-form__title--brand {
    margin-bottom: 26px;
}

.filters-form__brand-search-wrapper {
    position: relative;
    margin: 0;
    margin-bottom: 27px;
}

.filters-form__brand-search-wrapper:before {
    content: "";
    position: absolute;
    left: 6px;
    top: 7px;
    width: 1px;
    height: 11px;
    background-color: var(--gray-510);
}

.filters-form__brand-search-wrapper::after {
    content: '';
    position: absolute;
    right: 5px;
    top: 5px;

    width: 14px;
    height: 14px;
    background-image: url('../../images/Search.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 14px 14px;
}


.filters-form__brand-search-input::placeholder {
    font-size: 12px;
    line-height: 1.333;
    color: var(--gray-400);
}

.filters-form__brand-search-input {

    width: 100%;

    padding-left: 13px;
    padding-right: 21px;
    padding-top: 6px;
    padding-bottom: 2px;
    border: 1px solid var(--gray-440);
    border-radius: 4px;

    font-size: 12px;
    line-height: 1.333;
    color: var(--black);
}

.filters-form__brand-wrapper {
    margin-left: 9px;
    display: grid;
    grid-template-columns: min-content min-content;
    column-gap: 30px;
}

.filters-form__brand-label {
    position: relative;
    padding-left: 22px;

    font-size: 12px;
    line-height: 1.333;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: var(--black);
    cursor: pointer;
}

.filters-form__brand-label::before {
    content: "";
    visibility: hidden;
    position: absolute;
    left: 5px;
    top: 4px;
    width: 10px;
    height: 8px;
    background-image: url('../../images/icon-done.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 10px 8px;
}

.filters-form__brand-input:checked + .filters-form__brand-label::before {
    visibility: visible;
}

.filters-form__brand-input:disabled + .filters-form__brand-label {
    opacity: 0.3;
}

.filters-form__brand-label:hover,
.filters-form__brand-label:focus {

    opacity: 0.6;
}


.filters-form__brand-label:active {

    opacity: 0.3;
}

.filters-form__btn {
    max-width: 196px;
    width: 196px;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
    background-color: transparent;
}

/*------------------------pagination-list-------------------------------------------------------*/

.pagination-list {

    display: flex;
    margin-bottom: 58px;
}

.pagination-list__item {
    margin-right: 20px;
}

.pagination-list__link {
    display: inline-block;
    width: initial;
    border: none;
    padding: 10px 17px;
}

/*---------------------------------------------------------*/
.deployed-product {
    display: flex;
    margin-bottom: 298px;
}

.deployed-product__gallery {
    max-width: 658px;
    width: 658px;
    min-width: 658px;
    margin-right: 74px;
    padding-top: 10px;
}

.deployed-product__gallery-window {
    position: relative;
    width: 658px;
    height: 499px;
    overflow: hidden;
    margin-bottom: 31px;
}

.deployed-product__gallery-list {
    position: relative;

    width: 1974px;
    display: flex;
    transition: all 0.5s;
}


.deployed-product__gallery-list--first {
    left: 0;
}

.deployed-product__gallery-list--second {

    left: -658px;

}

.deployed-product__gallery-list--third {
    left: -1316px;
}

.deployed-product__gallery-item {
    position: relative;
    width: 658px;
    min-width: 658px;
    max-width: 658px;

    height: 499px;
    min-height: 499px;
    max-height: 499px;
}

.deployed-product__gallery-item::before {
    content: "";
    position: absolute;
    left: 50px;
    top: 50px;

    font-size: 25px;
    font-weight: bold;

}

.deployed-product__gallery-item--first::before {
    content: '1';
}

.deployed-product__gallery-item--second::before {
    content: '2';
}

.deployed-product__gallery-item--thirt::before {
    content: '3';
}

.deployed-product__gallery-window-btns {
    position: absolute;
    left: 0;
    top: 215px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.deployed-product__gallery-window-btns-left {
    width: 12px;
    height: 19px;
    border: none;
    background-color: transparent;
    background-image: url('../../images/arrow.svg');
    background-repeat: no-repeat;
    background-size: 12px 19px;
    background-position: center center;
    transform: rotate(180deg);
    margin-left: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.deployed-product__gallery-window-btns-right {
    width: 12px;
    height: 19px;
    border: none;
    background-color: transparent;
    background-image: url('../../images/arrow.svg');
    background-repeat: no-repeat;
    background-size: 12px 19px;
    background-position: center center;
    margin-right: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.deployed-product__gallery-window-btns-left:hover,
.deployed-product__gallery-window-btns-left:focus {

    transform: rotate(180deg) scale(1.5);
}

.deployed-product__gallery-window-btns-left:active {
    transform: rotate(180deg) scale(0.8);
}

.deployed-product__gallery-window-btns-right:hover,
.deployed-product__gallery-window-btns-right:focus {

    transform: scale(1.5);
}

.deployed-product__gallery-window-btns-right:active {
    transform: scale(0.8);
}

/* .deployed-product__gallery-img-wrapper {}

.deployed-product__gallery-img {}

.deployed-product__gallery-img-toggle-wrapper {}

.deployed-product__gallery-img-toggle-btn {} */

.deployed-product__gallery-img-toggle-wrapper {

    display: flex;
    flex-direction: row;

    font-size: 0;

}

.deployed-product__gallery-img-toggle-btn {
    display: block;
    position: relative;
    width: 156px;
    height: 134px;
    padding: 0;
    margin: 0;
    margin-right: 20px;
    border: none;
    background-color: var(--gray-300);
    cursor: pointer;

}

.deployed-product__gallery-img-toggle-btn::before {
    content: 'фото скоро будет';
    position: absolute;
    left: 0;
    top: 55px;
    width: 156px;
    height: 134px;

    font-size: 12px;

    color: var(--gray-500);
    z-index: 1;
}

.deployed-product__gallery-img-toggle-btn img {
    position: relative;
    z-index: 2;
}

.deployed-product__gallery-img-toggle-btn--active {
    border: 2px solid rgba(37, 37, 37, 0.5);

}

/*--------------------product-desc--------------------------------*/
.product-desc {
    width: 443px;
    max-width: 443px;
    min-width: 443px;
}

.product-desc__title {
    margin: 0;
    margin-bottom: 13px;

    font-weight: 600;
    font-size: 40px;
    line-height: 1.35;
    text-transform: capitalize;

    color: var(--black-350);
}

.product-desc__price {
    margin: 0;
    margin-bottom: 49px;
    padding-left: 5px;

    font-weight: 600;
    font-size: 40px;
    line-height: 1.35;
    color: var(--black-350);
}

.ruble {
    font-weight: 400;
}


.product-desc__rating-fav-wrapper {
    display: flex;
    margin-bottom: 32px;
}

.product-desc__rating {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 112px;
    height: 19px;
    margin-right: 42px;
    padding-top: 2px;
}

.product-desc__rating-star {
    fill: var(--gray-350);
    margin-right: 5px;
}

.product-desc__rating--one-stars .product-desc__rating-star:nth-child(1),
.product-desc__rating--two-stars .product-desc__rating-star:nth-child(-n+2),
.product-desc__rating--three-stars .product-desc__rating-star:nth-child(-n+3),
.product-desc__rating--four-stars .product-desc__rating-star:nth-child(-n+4),
.product-desc__rating--five-stars .product-desc__rating-star:nth-child(-n+5) {
    fill: var(--black-400);
}

.product-desc__favorites-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--black);
    line-height: 1.37;
}

.product-desc__favorites-link:hover,
.product-desc__favorites-link:focus {
    text-decoration: underline;
}

.product-desc__favorites-link:active {
    text-decoration: underline;
    opacity: 0.5;
}

.product-desc__favorites-link-img {
    margin-right: 15px;
}

.product-desc__favorites-link--active .product-desc__favorites-link-img {
    fill: var(--black);
}


.product-desc__sizes {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.product-desc__sizes-label {
    margin: 0;
    margin-right: 23px;
    color: var(--black);
}

.product-desc__sizes-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3px;
}

.product-desc__sizes-list-item {
    margin-right: 11px;
}

.product-desc__sizes-list-label {
    display: block;
    padding: 8px 11px;
    color: var(--black);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s;
}

.product-desc__sizes-list-label:hover,
.product-desc__sizes-list-label:focus {
    transform: scale(1.2);
}

.product-desc__sizes-list-label:active {
    transform: scale(0.8);
}

.product-desc__sizes-list-checkbox:checked + .product-desc__sizes-list-label {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.product-desc__sizes-list-checkbox:disabled + .product-desc__sizes-list-label {
    opacity: 0.1;
}

.product-desc__table-sises-link {
    display: inline-block;
    margin-bottom: 36px;
    line-height: 1.37;
    text-decoration: underline;
    color: var(--blue-400);
}

.product-desc__table-sises-link:hover,
.product-desc__table-sises-link:focus {
    opacity: 0.5;
}


.product-desc__table-sises-link:active {
    opacity: 0.1;
}



.product-desc__colors {
    display: flex;
    align-items: center;
    margin-bottom: 13px;
}

.product-desc__colors-label {
    margin: 0;
    margin-right: 17px;

}

.product-desc__colors-list {
    display: flex;
}

.product-desc__colors-list-item {
    margin-right: 9px;
}

.product-desc__colors-list-label {
    display: block;
    width: 15px;
    height: 15px;
    cursor: pointer;
    transition: all 0.5s;
}

.product-desc__colors-list-label:focus,
.product-desc__colors-list-label:hover {

    transform: scale(1.2);

}

.product-desc__colors-list-label:active {

    transform: scale(0.8);

}

.product-desc__colors-checkbox:checked + .product-desc__colors-list-label {
    outline: 2px solid var(--blue-400);
}

/* .product-desc__common-info-table {
    border: none;
    border-collapse: collapse;
    margin-bottom: 12px;
    color: var(--black);
}

.product-desc__common-info-table tr {
    margin-bottom: 13px;
}

.product-desc__common-info-table-termin {
    margin: 0;
    padding: 0;
    width: 71px;

}
 */
.product-desc__common-info {
    margin-bottom: 12px;
    color: var(--black);
}

.product-desc__common-info-item {
    display: flex;
    margin-bottom: 14px;
}

.product-desc__common-info-item:last-child {
    margin-bottom: 0;
}

.product-desc__common-info-termin {
    width: 71px;
}

.product-desc__common-more-link {
    display: inline-block;
    margin-bottom: 46px;
    line-height: 1.37;
    text-decoration: underline;
    color: var(--blue-400);
}

.product-desc__common-more-link:hover,
.product-desc__common-more-link:focus {
    opacity: 0.5;
}

.product-desc__common-more-link:active {
    opacity: 0.1;
}

.product-desc__buy-btn {
    display: block;
    max-width: 188px;
}